.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
}

.popup-content {
  background-color: #212020;
  margin: 20px;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  max-width: 1000px;
  height: 90%;
  max-height: 90%;
  overflow-y: auto;
  overflow-x: auto;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: #aaa;
}

.close {
  color: #aaa;
  position: absolute;
  top: -10px;
  right: 8px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
}
.speak-stop-button{
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3e3f40; /* Blue background color */
  color: white; /* White text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 4px;

}
.Nonotes-summary{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 400px;
}

.audio-title{
  color: #a09f9f;
  font-size:18px;
  
}
.audio-transcript {
  color: #fff;
  margin-bottom: 10px;
  margin-top: 15px;
  max-height: 600px;
  overflow-y: scroll;
}

.audio-player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.audio-player {
  background-color: #0a0a0a;
  color: #fff;
  border-radius: 5px;
  margin-top: 15px;
}

.rhap_time {
  color: #fff;
}

.generate-notes-btn,
.generate-summary-btn {
  background-color: #a8aeb4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.generate-summary-btn {
  background-color: #070f09;
}

.generate-notes-btn:hover,
.generate-summary-btn:hover {
  opacity: 0.8;
}

.generated-notes,
.generated-summary {
  margin-top: 20px;
}

.generated-notes h3,
.generated-summary h3 {
  margin-bottom: 10px;
  color: #fff;
}

.generated-notes p,
.generated-summary p {
  background-color: #252424;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  
  overflow-y: auto;
}

.deletebutton {
  background-color: red;
  color: #fff;
  font-size:15px;
  width: 100%;
  text-align: center;
}
.GenerateButton {
  
  background-color: #595c5e; /* Blue background color */
  color: white; /* White text color */
  padding: 10px 100px; /* Padding inside the button */
 
  border: none; /* No border */
  border-radius: 10px; /* Rounded corners */
  cursor: pointer; /* Cursor on hover */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Drop shadow */
  transition: background-color 0.3s ease; /* Smooth background color transition */
  width:100%
}

.GenerateButton:hover {
  background-color: #2f3031; /* Darker blue on hover */
}


.action-buttons {
  display: flex;
  justify-content: space-between; /* Distribute buttons evenly */
  align-items: center; /* Center items vertically */
}

.copy-button,
.share-button,
.regenerate-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #2a2b2c; /* Blue background color */
  color: white; /* White text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.copy-button:hover,
.share-button:hover,
.regenerate-button:hover {
  background-color: #686869; /* Darker blue on hover */
}

/* Optional: Adjust margin or spacing between buttons */
.copy-button + .share-button,
.share-button + .regenerate-button {
  margin-left: 10px;
}

