.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto; /* Enable scrolling if content exceeds viewport */
}


/* Popup Content */
.popup-content {
  background-color: #030303;
  padding: 20px;
  margin: 0; /* Remove default margin */
  width: calc(100% - 40px); /* Adjust padding to create space between content and edges */
  max-width: 600px; /* Optional: Limit maximum width of popup content */
  height: calc(100% - 40px); /* Adjust padding to create space between content and edges */
  max-height: calc(100% - 40px); /* Adjust padding to create space between content and edges */
  overflow-y: auto; /* Enable scrolling if content exceeds popup content height */
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: #ccc;
}

/* Close Button */
.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #fff;
}

/* Audio Player Container */
.audio-player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 25px;
}

/* Audio Player */
.audio-player {
  background-color: #343131;
  color: #fff;
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
}

/* Title and Voice Section */
.Title-voice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.audio-title {
  color: #a09f9f;
  font-size: 18px;
  margin-right: 10px;
}

.speak-stop-button {
  background-color: transparent;
  color: white;
  border: 0;
  font-size: 20px;
  cursor: pointer;
  margin-top: -25px;
}

/* Chat Messages Container */
.chatmessage-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 65px;
  padding: 10px;
  max-width: 400px;
  width: 100%;
  border-radius: 10px;
  background-color: #040404;
}

.volumeup-icon {
  height: 25px;
  width: 25px;
  color: white;
  border-radius: 5px;
  filter: invert(100%);
  margin-top: -10px;
}

.rhap_current-time {
  color: white;
}

/* Input Box Container */
.input-box-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px); /* Adjust based on padding and margin */
  max-width: 1000px; /* Optional: limit the maximum width if needed */
  background-color: #3a3838;
  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 5px;
  z-index: 1000;
}

.input-box {
  flex: 1;
  border: none;
  padding: 8px;
  margin-right: 10px;
  border-radius: 10px;
  font-size: 15px;
  outline: none;
  overflow-y: hidden;
  resize: none;
  box-sizing: border-box;
  background-color: #3a3838;
  color: white;
  height: 50px;
  width: 400px;
}

.send-message-button,
.voice-button {
  background-color: #3a3838;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.send-button {
  margin-right: 10px;
}

.voice-button {
  margin-right: 10px;
}

/* Ensure message area is visible above the input box */
.input-box-container {
  position: fixed;
  bottom: 20px;
  transform: translateX(-50%);
  width: calc(100% - 40px); /* Adjust based on padding and margin */
  max-width: 500px;
  background-color: #3a3838;
  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  z-index: 1000;
}
