/* Popup Overlay */
.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
}

.popup-content {
  background-color: #212020;
  padding: 20px;
  border: 1px solid #888;
  max-width: 1000px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: #ccc;
}

/* Close Button */
.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #fff;
}

/* Audio Player Container */
.audio-player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

/* Audio Player */
.audio-player {
  background-color: #343131;
  color: #fff;
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
}

/* Title and Voice Section */
.Title-voice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.audio-title {
  color: #a09f9f;
  font-size: 18px;
  margin-right: 10px;
}

.speak-stop-button {
  background-color: transparent;
  color: white;
  border: 0;
  font-size: 20px;
  cursor: pointer;
  margin-top: -25px;
}

/* Chat Messages Container */
.chatmessage-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #1a1a1a;
}

.user-message {
  align-self: flex-end;
  background-color: #d1e7dd;
  padding: 10px;
  border-radius: 10px;
  color: #0f5132;
  font-size: 10px;
  max-width: 70%;
  text-align: right;
}

.audio-transcript {
  align-self: flex-start;
  background-color: #2e2c2c;
  padding: 10px;
  border-radius: 10px;
  color: #dad0d1;
  font-size: 17px;
  max-width: 70%;
}
.volumeup-icon{
  height:25px;
  width:25px;
  color:white;

  border-radius: 5px;
  filter: invert(100%);
  margin-top: -10px;
}
.rhap_current-time{
  color:white;
}
/* Input Box Container */
.input-box-container {
  position: fixed;
  margin-bottom:-20px ;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px); /* Adjust based on padding and margin */

  background-color: #141313;
  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 5px;

 
}

.input-box {
  flex: 1;
  border: none;
  padding: 8px;
  margin-right: 10px;
  border-radius: 3px;
  font-size: 14px;
  outline: none;
  overflow-y: hidden;
  resize: none;
  box-sizing: border-box;
  background-color: #212020;
  color: white;
}

.send-button, .voice-button {
  background-color: #181616;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.send-button {
  margin-right: 10px;
}

.voice-button {
  margin-right: 10px;
}

/* Ensure message area is visible above the input box */

.input-box-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px); /* Adjust based on padding and margin */
  max-width: 500px;
  background-color: #141313;
  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 10px;
  z-index: 1000;
}
