/* Assuming you have existing styles */

.edit-input {
  width: calc(100% - 2rem); /* Allows input to expand while accounting for margins and padding */
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Ensures padding and border are included in the width calculation */
}

.title {
  cursor: pointer;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis; /* Truncate text with ellipsis */
  white-space: nowrap; /* Prevents text wrapping */
  font-weight: bold;
  font-size: 10px;
}

.title:hover {
  text-decoration: underline;
}

.lecture-title {
  flex: 1;
  margin-left: 1rem;
  max-width: 100%; /* Ensures title doesn't overflow its container */
}
