/* General styles */
.action-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align items to the end of the container */
  gap: 10px; /* Space between each button and the text */
}

.act-buttons {
  display: flex;
  align-self: flex-start;
  padding-left: 10px;
}
.additional-button{
  margin-right: 10px;
}
.chatbot-message {
  background-color: #3d3c3c;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 100%; /* Adjust as needed */
  border-radius: 8px;
  clear: both; /* Ensures proper float clearing */
  overflow-wrap: break-word; /* Handles long words */
  font-size: 23px;
  margin-top: 10px;
  
}


.copy-button,
.share-button,
.additional-button,
.regenerate-button {
  display: inline-block;
 
  font-size: 23px;
  background-color: transparent; 
  color: white; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height:10px;
  width:10px;
  margin: 15px;
}

.generate-summary-btn {
  background-color: #3e413e; /* Darker background for summary button */
  height:50px;
  width:120px;
  margin-left: 15px;
  color:#fff;
  border-radius:8px;
}
.generate-notes-btn{
  height:50px;
  width:120px;
  margin-left: 15px;
  border-radius:8px;
}

.generate-notes-btn:hover,
.generate-summary-btn:hover,
.copy-button:hover,
.share-button:hover,
.regenerate-button:hover {
  background-color: #686869; /* Darker blue on hover */
  
}

.copy-button + .share-button,
.share-button + .additional-button,
.additional-button + .regenerate-button {
  margin-left: 10px; /* Adjust spacing between adjacent buttons */
}

/* Generated notes and summary styles */
.generated-notes,
.generated-summary {
  margin-top: 20px;
}

.generated-notes h3,
.generated-summary h3 {
  margin-bottom: 10px;
  color: #fff; /* White text color */
}

.generated-notes p,
.generated-summary p {
  background-color: #252424; /* Dark background color */
  padding: 10px;
  border-radius: 4px;
  color: #fff; /* White text color */
  overflow-y: auto;
}
