/* Chat message animation */
@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%); /* Start off-screen to the left */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* Slide in to the right */
  }
}

/* Chat message styling */
.chatbot-message {
  background-color: #3d3c3c;
  color: #fff;
  padding: 10px;
  margin-left: -20px;
  border-radius: 8px;
  width:100%;
  overflow-wrap: break-word;
  font-size: 18px;
  white-space: pre-wrap;
  width:100%;
  animation: slideInFromLeft 0.5s ease forwards;
}
.edit-textarea{
  background-color: #3d3c3c;
  color: #fff;
  padding: 10px;
  margin-left: -20px;

  border-radius: 8px;
  width:100%;
  overflow-wrap: break-word;
  font-size: 18px;
  white-space: pre-wrap;
  width:100%;
  height: 350px;
}
.volumeup-bot-icon{
  height:25px;
  width:25px;
  filter: invert(100%);
  margin-top: -10px;
  
}
/* General styles */
.action-buttons {
  display: flex;
  flex-direction: column;
  
}

.act-buttons {
  display: flex;
  align-self: flex-start;
  margin-left: -20px;
  
}

.additional-button {
  margin-right: 10px;
}

.copy-button,
.share-button,
.additional-button,
.regenerate-button {
  display: inline-block;
  font-size: 18px;
  background-color: transparent;
  color: rgb(199, 195, 195);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 30px;
  width: 30px;
  margin: 15px;
}
.bot-save-button{
  
  background-color: #2c2e2c;
  color: white;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  width:120px;
  height:60px;
  transition-duration: 0.4s;
}

.generate-summary-btn,
.generate-notes-btn {
  background-color: #3e413e;
  height: 50px;
  width: 120px;
  margin-left: 15px;
  color: #fff;
  border-radius: 8px;
}

.generate-notes-btn:hover,
.generate-summary-btn:hover,
.copy-button:hover,
.share-button:hover,
.regenerate-button:hover {
  background-color: #686869;
}

.copy-button + .share-button,
.share-button + .additional-button,
.additional-button + .regenerate-button {
  margin-left: 10px;
}

.generated-notes,
.generated-summary {
  margin-top: 20px;
}

.generated-notes h3,
.generated-summary h3 {
  margin-bottom: 10px;
  color: #fff;
}

.generated-notes p,
.generated-summary p {
  background-color: #252424;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  overflow-y: auto;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  color: #fff;
}

.generate-notes-summary-popup {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 20px;
  background-color: #3d3c3c;
  border-radius: 8px;
  margin-top: 20px;
}

.nonotes-summary {
  font-size: 14px;
  color: #6c757d;
  text-align: center;
}
