.Lecture-heading {
    color: aliceblue;
     text-align: center;
  }
  
  .no-lectures {
    color: #f0f0f0;
    font-size: 25px;
  }
  
  /* Loader animation */
  .loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid lightblue;
    border-right-color: orange;
    animation: l2 1s infinite linear;
  }
  
  @keyframes l2 {
    to {
      transform: rotate(1turn);
    }
  }
  
  /* Pagination button style */
  .page-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    margin: 4px;
    cursor: pointer;
  }
  
  .page-button.active {
    background-color: #0056b3; /* Example of active state */
  }
  
  /* Media query for devices with a max width of 576px (large smartphones) */
@media (max-width: 576px) {
  .page-button {
      padding: 6px 12px; /* Adjust padding for smaller screens */
      margin: 2px; /* Adjust margin for smaller screens */
      font-size: 14px; /* Adjust font size for smaller screens */
  }
 

  .page-button.active {
      background-color: #0056b3; /* Example of active state */
      /* You can adjust active state styles as needed */
  }
  .pagination{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Lectures-container{
     padding: 60px;
     padding-left: 60px;
     padding-right: 60px;
  }
  /* Additional specific adjustments as per your layout needs */
}
