/* Container for the entire Notes Ai section */
/* Reset default margin and padding for body */


/* Style for the container */
.Notes-Ai-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 768px;
  margin: 0 auto; /* Centering the container horizontally */
  padding: 20px;
  background-color: #0a0a0a; /* Set the background color of the container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
  border-radius: 8px; /* Optional: Add some border radius for rounded corners */
 
}

  /* Box containing main content like notes or input */
  .Notes-content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    
    height: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #333131;
  }
  .Add-file-heading{
    color:#fff;
    font-size:20px;
    margin-top:15px;
  }
  .NoteAi-Plus-button {
    padding: 15px;
    background-color: #333;
    color: white;
    border: 3px solid #aeabab;
    border-radius:3px;
    font-size: 25px;
    font-weight: bold;
    animation: zoomInOut 2s infinite alternate; /* Animation settings */
}

@keyframes zoomInOut {
    0% {
        transform: scale(1); /* Start at normal size */
    }
    100% {
        transform: scale(1.1); /* End at 110% size */
    }
}


  .note-title {
    
    color: white;
    text-align: center;
  }
  
  