.recorded-audio-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    background-color: #0c0c0c;
    position: relative;
  }
  
  .audio-controls-and-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .audio-controls-and-date .upload-and-delete-buttons {
    display: flex;
    align-items: center;
  }
  
  .audio-controls-and-date .date-time {
    font-size: 14px;
    color: #ede8e8;
    margin-left: 10px;
  }
  
  .upload-button,
  .delete-menu-button {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
  }
  
  .delete-menu {
    position: relative;
  }
  
  .delete-menu-content {
    position: absolute;
    bottom: -30px;
    right: -20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .delete-menu-option {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    background: none;
    border: none;
    cursor: pointer;
    color: #d9534f;
  }
  
  .delete-menu-option:hover {
    background-color: #f0f0f0;
  }
  
  @media (max-width: 768px) {
    .audio-recorder-container {
      justify-content: flex-start;
      padding-top: 10px;
      margin-top: 2px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      box-sizing: border-box;
      overflow-x: hidden;
      padding: 10px;
      background-color: #101010;
    }
  
    .stop-microphone {
      font-size: 35px;
    }
  
    .audio-content-box {
      max-width: 300px;
      width: 100%;
      max-height: 300px;
      height: 100vh;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-sizing: border-box;
      background-color: #333131;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .record-button {
      height: 80px;
      width: 80px;
      border-radius: 50%;
      background-color: #c3cac4;
      border: none;
      color: white;
      text-align: center;
      line-height: 80px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      animation: pulse 2s infinite;
    }
  
    .recording {
      background-color: red;
      animation: pulse1 2s infinite;
    }
  
    @keyframes pulse {
      0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(163, 167, 163, 0.7);
      }
      70% {
        transform: scale(1.1);
        box-shadow: 0 0 0 20px rgba(255, 0, 0, 0);
      }
      100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
      }
    }
  
    @keyframes pulse1 {
      0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(137, 27, 3, 0.7);
      }
      70% {
        transform: scale(1.1);
        box-shadow: 0 0 0 20px rgba(255, 0, 0, 0);
      }
      100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
      }
    }
  
    .button-group {
      margin-left: 5px;
    }
  
    .record-title {
      font-size: 28px;
      color: white;
    }
  
    .recorded-audio-container {
      max-width: 100%;
      width: 100%;
      margin-top: 20px;
      display: flex;
      background-color: #0b0404;
      align-items: center;
      border-radius: 20px;
      justify-content: space-between;
      padding: 15px;
    }
  
    .waves {
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      margin-top: 70px;
    }
  
    .waves div {
      height: 30px;
      width: 3px;
      margin-right: 10px;
      background-color: rgb(206, 198, 198);
      animation: loading 1s linear infinite;
    }
  
    .waves div:nth-child(1) {
      animation-delay: 0.1s;
    }
  
    .waves div:nth-child(2) {
      animation-delay: 0.2s;
    }
  
    .waves div:nth-child(3) {
      animation-delay: 0.3s;
    }
  
    .waves div:nth-child(4) {
      animation-delay: 0.4s;
    }
  
    .waves div:nth-child(5) {
      animation-delay: 0.5s;
    }
  
    @keyframes loading {
      0% {
        height: 0;
      }
      25% {
        height: 25px;
      }
      50% {
        height: 50px;
      }
      75% {
        height: 25px;
      }
      100% {
        height: 0;
      }
    }
    .rhap_stacked .rhap_controls-section{
        margin-top: 0px;
    }

    .rhap_container{
        border-radius:25px;
    }
    .recorded-audio-container {
      display: flex;
      flex-direction: row;
     
      border: 1px solid #ccc;
      border-radius: 8px;
    
      background-color: #000000;
      max-width: 400px;
    }
  
    .flex-row-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      margin-bottom: 15px;
    }
  
    .audio-controls-and-date,
    .upload-and-delete-buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-grow: 1;
      margin-left: 20px;
      margin-right: 20px;
    }
  
    .audio-controls-and-date {
      margin-right: 20px; /* Space between the two containers */
      display: flex;
      flex-direction: column;
    }
  
    .play-pause-button,
    .upload-button,
    .delete-menu-button {
      font-size: 24px;
      background: none;
      border: none;
      cursor: pointer;
      color: white; /* Change icon color to white */
    }
  
    .upload-and-delete-buttons,
    .upload-and-delete-buttons .delete-menu-button {
      margin: 0; /* Ensure no margin between the buttons */
    }
  
    .date-time {
      font-size: 14px;
      color: #f3ecec;
      text-align: center;
      margin: 0 10px; /* Space between the date-time and other elements */
    }
  
    .delete-menu {
      position: relative;
    }
  
    .delete-menu-content {
      position: absolute;
      bottom: 30px;
      right: -20px;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      z-index: 1;
      margin-left: 15px;
    }
  
    .delete-menu-option {
      display: flex;
      align-items: center;
      padding: 10px;
      font-size: 16px;
      background: none;
      border: none;
      cursor: pointer;
      color: #d9534f;
    }
  
    .delete-menu-option:hover {
      background-color: #f0f0f0;
    }
  
    audio {
      width: 100%;
      margin-top: 15px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .audio-recorder-container {
      justify-content: flex-start;
      padding-top: 20px;
      margin-top: 45px;
      position: relative;
      display: none;
      max-width: 800px;
      width: 100%;
      max-height: 800px;
      height: 100vh;
    }
  
    .audio-content-box {
      padding: 15px;
      max-width: 600px;
      height: 400px;
    }
  }
  