/* index.css */
.header-icon {
    margin-right: 10px; /* Adjust margin as needed */
}

.brand, .message-help-icon {
    display: flex;
    align-items: center;
}

.help-text {
    margin-left: auto; /* Push "Help" text to the right */
}
.header-heading{
    font-size:25px;
    text-align: center;
    margin-top: 10px;
}
.help-heading{
    font-size:15px;
    text-align: center;
    margin-top: 10px;
}