/* Reset some default browser styles for consistency */
.pagination {
  
  display: flex;
  
  justify-content: center;
  align-items: center;

}
  .no-audio-message{
    color:aliceblue;
     text-align: center;
  }
  
  .lectures-container { 
    background-color: #0b0404;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column; 
   padding-right:15px;
   padding-left:15px;
  }
  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Adjust height as needed based on your design */
}
  .menu {
    list-style-type: none;
    padding: 0;
    background-color: #3d3b3b;
    max-width: 700px; /* Limit the width for better readability on larger screens */
    margin: 0 auto; /* Center the menu horizontally */
    margin-bottom: 20px; /* Add some space between list and popup */
    padding: 35px; /* Padding inside the menu */
    border-radius: 10px; /* Rounded corners for the menu */

    /* Media query for mobile devices */
   
}
@media (max-width: 600px) {
  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
  .menu{
   
  max-width: 100%; /* Full width on mobile devices */
  border-radius: 10; /* No border radius on mobile */
  padding: 20px; /* Reduced padding for better spacing on mobile */
}
}
  .Lecture-heading{
    color:white;
    text-align: center;
  
  
  }
  .pagination {
  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  
  }
  
  .pagination-button {
    background-color: black;
    color: white;
    border: 1px solid black;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
  }
  
  .pagination-button.active {
    background-color: white;
    color: black;
   
  }
  
  
  
  
  
  @media screen and (min-width: 769px) {
    .lectures-container {
      display: none; 
    }
  
    .popup {
      display: none; 
    }
  }
  