* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.App {
  background-color: black;
  height: 100vh;
  background-size: cover;
  max-width: 768px; /* Set max-width for elements with class App */
  margin: 0 auto; /* Center align within the viewport */
}

@media (min-width: 768px) {
  .App {
     display: none; /* Ensure responsiveness on smaller screens */
  }
}
